[2018-03-10 04:30] Glavin001 opened #7 "Contribute JSON Validation"
See https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesjsonvalidation

- [ ] Create JSON Schema for Unibeautify config
- [ ] Add JSON Schema to https://github.com/SchemaStore/schemastore/tree/master/src/schemas/json
- [ ] Add to extension's `contributes.jsonValidation` property

[2018-03-10 04:35] Glavin001 opened #8 "Switch test runner to Jest"
Jest: https://facebook.github.io/jest/

See https://github.com/Microsoft/vscode-extension-vscode/blob/master/lib/testrunner.js for how the Mocha test runner for VSCode is implemented.

[2018-03-10 04:42] Glavin001 opened #10 "Add Unibeautify Configuration file loader support"
See https://unibeautify.com/docs/config-file.html

TODO:
- [x] Add [cosmiconfig](https://github.com/davidtheclark/cosmiconfig)
- [x] Configure `cosmiconfig`:

[code]

- [x] Load configuration with `configExplorer`:

[code]

- [x] Change `beautifierOptions`:

https://github.com/Unibeautify/vscode/blob/master/src/EditProvider.ts#L40-L50

[code]

[2018-03-10 05:44] Glavin001 opened #11 "Unable to publish "peer dep missing""
Related to: https://github.com/npm/npm/issues/19877 , https://github.com/npm/npm/issues/15708 , https://github.com/yarnpkg/yarn/issues/4850 , https://stackoverflow.com/a/48318878/2578205 , https://github.com/yarnpkg/yarn/issues/4743 , https://github.com/yarnpkg/yarn/pull/5088

[code]

and

[code]

[2018-03-10 07:06] Glavin001 commented on #11
To reproduce without actually publishing run:

[code]

Help wanted! I am stuck here.

[2018-03-14 11:17] tdillon commented on #11
Can you update the unibeautify dependency/peerDependency version in `beautifier-eslint`, `beautifier-js-beautify`, `beautifier-prettier`, and `beautifier-prettydiff`?  I updated them to `^0.10.1` and `npm list --production --parseable --depth=99999` did not error.  Since the version of `unibeautify` you are depending on in `unibeautify/vscode` is `0.10.1` the peerDependencies in your `beautifier-*

[2018-03-14 20:59] szeck87 commented on #11
So until version 1.0.0 rolls around, we should treat the minor version as one that could have breaking changes.  From https://docs.npmjs.com/misc/semver:

So we want to use >= 0.9.x?

[2018-03-15 02:31] Glavin001 commented on #11
Fixed it!!! 🎉

[2018-03-15 02:35] #11 closed

[2018-03-15 02:36] Glavin001 commented on #11
Will publish this weekend 👍.

Until then, Pull Requests are very welcome!!! 🎉

[2018-03-16 02:31] Glavin001 commented on #11
Published! https://marketplace.visualstudio.com/items?itemName=Glavin001.unibeautify-vscode

[2018-03-16 03:52] Glavin001 opened #14 "Improve extension metadata and README"
# Current

![image](https://user-images.githubusercontent.com/1885333/37502940-61a48dbe-28b4-11e8-8ca7-549f39ab5891.png)

# Tasks

- [x] Add icon
- [x] Add Categories (Formatter)

[2018-03-16 03:52] Glavin001 commented on #14
![image](https://user-images.githubusercontent.com/1885333/37502884-0b1d5944-28b4-11e8-946e-ceec190bf7de.png)

[2018-03-16 03:55] Glavin001 commented on #14
![image](https://user-images.githubusercontent.com/1885333/37503019-b8db1882-28b4-11e8-838d-baa82e2ff04b.png)

[2018-03-16 03:56] Glavin001 commented on #14
![image](https://user-images.githubusercontent.com/1885333/37503046-dbc32a60-28b4-11e8-981d-99021b960773.png)

[2018-03-16 03:57] Glavin001 commented on #14
![image](https://user-images.githubusercontent.com/1885333/37503060-f00adb76-28b4-11e8-8aec-1c917f282c61.png)

[2018-03-16 04:05] Glavin001 commented on #14
![image](https://user-images.githubusercontent.com/1885333/37503257-12bce5aa-28b6-11e8-893e-b602848ab061.png)

[2018-03-16 04:15] Glavin001 commented on #14
![image](https://user-images.githubusercontent.com/1885333/37503479-7743ef90-28b7-11e8-9b9d-3ea1191766e7.png)

[2018-03-16 04:18] Glavin001 commented on #14
![image](https://user-images.githubusercontent.com/1885333/37503575-f6c0092a-28b7-11e8-9bf6-6573d3eab76c.png)

[2018-03-16 04:35] #14 closed

[2018-03-16 04:40] Glavin001 commented on #14
Published: https://marketplace.visualstudio.com/items?itemName=Glavin001.unibeautify-vscode

[2018-03-29 09:12] mmn6d6d6e commented on #10
Where should I put config file?
Already tried to put it on project root, but ignored.

**.unibeautifyrc.json**
[code]

[2018-03-29 14:22] Glavin001 commented on #10
The configuration file (`.unibeautify.json`) support is currently not implemented for VSCode. This is the next feature which should be added.

We are looking for contributors! If you are up for it, please make a Pull Request! Thank you in advance!

[2018-03-29 14:29] Glavin001 commented on #10
I added detailed TODO steps to the Issue above. This should be enough for someone to contribute a PR adding the configuration support. Thank you for your interest in Unibeautify!

[2018-03-29 21:11] szeck87 commented on #8
I keep getting cannot find module vscode errors in the src files.
[code]

[2018-03-30 18:49] szeck87 commented on #8
Anyone wants to take a shot at it:  https://github.com/szeck87/vscode/tree/migrate-to-jest

[2018-03-31 04:18] szeck87 commented on #10
I added that code and added a `.unibeautifyrc` file in the testProject directory.  I then ran the extension in debug mode, when the `.load()` function was called it couldn't find the file `/.unibeautifyrc`.  It automatically starts at process.cwd() and starts going up from there.  So it should have found it.  Maybe I'll give Atom Beautify a go at this feature first.

[2018-03-31 20:42] Glavin001 commented on #10
I'm going to try and take this on. Please let me know if you've already started 👍.

[2018-04-01 00:25] Glavin001 commented on #10
Pull Request in need of reviewing: https://github.com/Unibeautify/vscode/pull/16

After #8 , we should add some more test. I have been working on it, however I think I would use `jest.mock` and don't want to invest too much time into the tests right now since #8 is in progress.

[2018-04-01 03:09] #10 closed

[2018-04-01 03:16] Glavin001 commented on #10
WIP code snippet for tests: Not particularly useful yet.

[code]

[2018-04-01 03:16] Glavin001 commented on #10
Published to v0.3.0!

[2018-04-01 03:18] Glavin001 commented on #10
@mmn6d6d6e : Please update and give it another try! Let me know if you have any more troubles. Thanks! 😃

[2018-04-02 03:16] mmn6d6d6e commented on #10
Thank you, @Glavin001. Tested. Works beautifully.

[2018-04-02 18:14] szeck87 commented on #8
https://github.com/strothj/vscode-gist-manager

[2018-04-03 02:56] szeck87 commented on #8
It's kind of ugly, but it works:  https://github.com/szeck87/vscode/tree/migrate-to-jest

[2018-04-14 12:50] odahcam opened #21 "No formatter found for PHP files"
I installed the extension.
Reloaded `vscode`.
When I tryied to format, `vscode` said:

![image](https://user-images.githubusercontent.com/3942006/38768647-7c169fcc-3fcd-11e8-9b1c-ec284e936f9d.png)

[2018-04-14 18:27] Glavin001 commented on #21
PHP is not yet supported.

See the website for support: https://unibeautify.com/

Also `Unibeautify.beautifyFile` has been removed. Use the builtin formatting for VSCode: https://stackoverflow.com/a/29973358/2578205

@szeck87
 we should remove https://github.com/Unibeautify/vscode/blob/a684272ac1eb92e748f2dd9b3e2ef2d81d7e9649/package.json#L52-L63 . Pull Requests welcome, @odahcam !

[2018-04-15 01:51] odahcam commented on #21
Let's do so.

What is missing for PHP support?

[2018-04-15 16:28] odahcam opened #23 "Add Beautifiers support table to README"
#### This is a:

feature request

#### Expected beahvior:

Like atom-beautify's one:

![image](https://user-images.githubusercontent.com/3942006/38780657-8af3bf28-40b0-11e8-8d6a-fb1bf745c015.png)

#### Anything else we should know?

This is very, VERY useful. The website doesn't make that point clear and for developers support tables are the final word about "if that works or not".

[2018-04-15 19:54] szeck87 commented on #23
@odahcam this is what http://unibeautify.com is meant to do. We could bullet list supported languages in the readme, but we're trying to avoid very long readme files like what atom-beautify has right now.

[2018-04-15 22:46] Glavin001 commented on #23
@odahcam : Thanks for this issue! The goal is the editor extensions (e.g. VSCode, Atom, etc) will be in sync with the documentation found at https://unibeautify.com . Each extension should provide the same user experience and feature set (eventually).

![image](https://user-images.githubusercontent.com/1885333/38784187-bd80cce0-40e4-11e8-8d6f-4eb9326d41d5.png)

I would prefer to keep the READMEs c

[2018-04-15 22:54] Glavin001 commented on #21
Adding a new beautifier like https://github.com/Unibeautify/beautifier-php-cs-fixer to https://github.com/Unibeautify/vscode/blob/master/src/beautifiers.ts

The big issue is the `beautifier-php-cs-fixer` above needs work. It is not configurable right now. Also, maybe PHP developers do not want to use PHP-CS-Fixer and instead use another, which is not yet supported.

[2018-04-15 23:13] szeck87 commented on #21
Prettier will also have it's own PHP formatter, https://github.com/prettier/plugin-php

[2018-04-16 02:15] odahcam commented on #21
I tryied to use Prettier, but I had to get back to the CLI php-cs-fixer, cause I couldn't get Prettier properly configured. :/

Also, it seems like Unibeautify is not "consuming" my `.eslintrc` file, neighter my `tslint.json`. I'm a little confused here, but if I'd use it for PHP with php-cs-fixer installed it should use my `.php_cs` configurations, right?

About the fixer, I'm studing it and I wi

[2018-04-16 02:16] szeck87 commented on #21
Prettier errors out completely if you have the plugin in the `format` function but don't have it installed.  So yea, either need to check to see if the plugin is installed or include the install in the beautifier-prettier package.

The plugin is installed as a regular node module, so no need to specify where the plugin is.  And there isn't any configuration available as of right now, so no need to

[2018-04-16 02:40] odahcam commented on #23
That's a nice feature.

I still think that's important to show somewhere what each editor supports. That's good to know. 🙂

[2018-04-17 22:27] odahcam commented on #21
But, if I have any configuration dotfile for some lang, e.g. `.eslintrc`, that config should affect my results, right?

[2018-04-17 22:42] szeck87 commented on #21
It really depends on what the beautifier supports.  Prettier has limited options for you to configure as it's an opinionated formatter.

I don't it works in VSCode yet as there are a couple of issues.

[2018-04-18 13:55] Glavin001 commented on #21
Configuration files such as `.eslintrc` and `.prettierrc` do not, yet, work. It is next on my priority list 😃 .

[2018-04-18 14:52] odahcam commented on #21
That's a little sad, beautifiers should use their respective configurations, once they would be just executed by Unibeautify, the beautifier layer should not change the natural behavior of the original beautifier (consuming a own config file, in this case). Where should I start a proper discussion about that?

[2018-04-18 14:55] szeck87 commented on #21
There is already an open issue, https://github.com/Unibeautify/unibeautify/issues/48.  As @Glavin001 said it's next on the roadmap.

[2018-04-18 15:05] Glavin001 commented on #21
https://github.com/Unibeautify/unibeautify/issues/48

It's not sad, it's a feature 😉 .

An objective of Unibeautify is to abstract and unify configuration. If you have HTML, CSS, JavaScript, and PHP in your project then this could mean you have any of the following:
- HTML
    - `.jsbeautifyrc` from https://github.com/beautify-web/js-beautify#loading-settings-from-environment-or-jsbeautifyrc-javas

[2018-04-18 15:12] odahcam commented on #21
Nice and thanks @Glavin001 and @szeck87, I will continue there and let this issue open for the initial issue.

[2018-04-19 05:07] Glavin001 commented on #8
See https://github.com/Unibeautify/vscode/pull/19

[2018-04-19 05:07] #8 closed

[2018-04-30 04:15] szeck87 commented on #21
This should be resolved now with the 0.4.0 release.

[2018-04-30 13:32] #21 closed

[2018-05-08 01:17] Rux77 opened #32 "Support .blade files!?"
Issue:

formatting does not work in "*.blade.php**" files..
![](https://i.imgur.com/LWeJruD.jpg)

[2018-05-08 01:44] Glavin001 commented on #32
Hi @Rux77 . PHP support was recently added with [PHP-CS-Fixer](https://github.com/Unibeautify/beautifier-php-cs-fixer).

Does `PHP` language work if you change from `blade`? See https://code.visualstudio.com/docs/languages/overview#_changing-the-language-for-the-selected-file

---

If `PHP` does work, then TO-DO to add Blade language support:
- [ ] Add VSCode language IDs to Unibeautify language f

[2018-05-08 01:46] Glavin001 commented on #32
@szeck87 we need to think about the process for adding new languages and/or beautifiers. It should NOT be in Unibeautify core or the editor extensions (e.g. VSCode). We need some place which is:
- [ ] central (not Unibeautify core, not editor extension, etc)
- [ ] allow voting (prioritization)

🤔

[2018-05-08 03:02] szeck87 commented on #32
@Glavin001 To be honest I think they should go in Unibeautify core. Languages have to be implemented there anyways.  And we can make use of the issue wizard with templates.

[2018-05-08 03:32] Glavin001 commented on #32
Sounds good. As long as beautifier-specific requests are routed to the beautifier's correct repository. I don't want Unibeautify core to get as crowded as Atom-Beautify has.

[2018-05-08 09:36] Rux77 commented on #32
@Glavin001

not, it does not format the **html elements**.The blade files will contain html elements which will not be formatted in this case ( when I set the language to **PHP**) . but when I set the language to **HTML** it does trigger the formatting and works great.

Example of blade file (**before formatting**):
[code]

Example of blade file (**after formatting**):
[code]
* another issue is so

[2018-05-08 15:36] Glavin001 commented on #32
Thank you for the details comment! This helps a lot.

https://github.com/Glavin001/atom-beautify/pull/2087 has an interesting solution to formatting Blade code. This is something which could be migrated to Unibeautify.

cc @szeck87

[2018-05-12 04:03] szeck87 opened #35 "Use newest cosmiconfig version"
Use newest version of cosmiconfig and typings.

[2018-05-12 04:03] szeck87 commented on #35
@Glavin001 can you assign this to me?

[2018-05-13 14:42] #35 closed

[2018-05-17 14:01] greenkeeper opened #37 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/Unibeautify/vscode/compare/master...Unibeautify:greenkeeper%2Fupdate-to-no

[2018-05-21 09:02] JamesCoyle opened #41 "Configuration options?"
I don't know if I'm missing something obvious but I can't see a way to configure how each language is formatted. Is this something that is planned? I can't really use the extension as it is currently as formatting for tabs and newlines have been overridden from those defined in the VSCode options.

[2018-05-22 01:43] Glavin001 commented on #41
Hey @JamesCoyle ! Sorry about that. I implemented configuration support in #10 however I forgot to update the README.

I just added a new section: https://github.com/Unibeautify/vscode/#configure
The most up-to-date documentation can be found at https://unibeautify.com/
However, we are still working out how best to help new users.

Please let me know if you have any questions or suggestions! Thank

[2018-05-25 14:14] Glavin001 commented on #41
We can reopen this issue if the new documentation is insufficient 👍 .

[2018-05-25 14:14] #41 closed

[2018-05-25 14:17] Glavin001 opened #43 "Provide helpful info for .unibeautifyrc.yaml file"
See https://github.com/djabraham/vscode-yaml-validation

Use a technique similar to YAML validation/linting.

- [ ] Validate the YAML meets the JSON Schema specs (blocked by #7 )
- [ ] Detect when options have no supported beautifier
  - [ ] Recommend beautifier which supports new option

[2018-05-25 16:58] szeck87 commented on #43
https://github.com/adamvoss/vscode-yaml

[2018-05-27 02:13] Glavin001 commented on #43
Awesome, exactly!

[2018-06-05 13:32] ivogomes opened #45 "Text inside <code>tag is being replaced with lowercase characters"
For example if I want to use something like this:
[code]
It is converted to:
[code]

[2018-06-05 13:34] ivogomes opened #46 "Inline tags like <code> or <a> are breaking to a newline"
Even though we have the default option not to style inline items, when we have this:
[code]
It becomes:
[code]

[2018-06-06 15:47] szeck87 commented on #46
@ivogomes can you please share what your configuration looks like?

[2018-06-06 16:28] ivogomes commented on #46
Sure, but I also get the same results in the [Playground](https://playground.unibeautify.com):

[code]

[2018-06-06 17:19] szeck87 commented on #46
Looks like a prettydiff issue.  If you could add the below to your HTML tree it should remove prettydiff from being used for HTML files:
[code]

You could also add a comment above that line so it doesn't beautify it at all:
[code]

[2018-06-07 09:45] ivogomes commented on #46
Thanks. Using only JS-Beautify worked.
But it's case sensitive, so you need to set it like this:
[code]

[2018-06-07 09:45] #46 closed

[2018-06-07 09:47] ivogomes commented on #45
This was solved by disabling "Pretty Diff" in the configuration file for HTML, which also solved #46
[code]

[2018-06-07 09:47] #45 closed

[2018-06-07 15:06] szeck87 commented on #46
Whoops, you're right, sorry about that.

[2018-06-19 19:18] Glavin001 opened #51 "Disable for a language"
I want to enable Unibeautify *except* for `Markdown` language files.

I expected the following to work.

Configuration file `.unibeautifyrc.yml`:

[code]

However, this did not and instead it beautified with the default options for Markdown.

Alternatively, this should also be acceptable in VSCode's `Workspace Settings`:

[code]

See https://github.com/Microsoft/vscode/issues/26707

[2018-06-20 04:14] Glavin001 commented on #51
For README:
![image](https://user-images.githubusercontent.com/1885333/41636879-5665cf80-7427-11e8-9b8e-9488f02d4a62.png)

[2018-06-20 04:15] Glavin001 commented on #51
![image](https://user-images.githubusercontent.com/1885333/41636908-7a91d494-7427-11e8-97b1-e4e7ce8fea8a.png)

[2018-06-20 04:16] Glavin001 commented on #51
![image](https://user-images.githubusercontent.com/1885333/41636927-9b7f3764-7427-11e8-9acb-e88bd3e510fb.png)

[2018-06-20 04:17] Glavin001 commented on #51
![image](https://user-images.githubusercontent.com/1885333/41636932-a695069c-7427-11e8-81be-ce1c17d01fe7.png)

[2018-06-20 04:17] Glavin001 commented on #51
![image](https://user-images.githubusercontent.com/1885333/41636940-b4606e10-7427-11e8-9d2c-93d8a7d24116.png)

[2018-06-20 06:08] Glavin001 commented on #23
@odahcam How's this?

![image](https://user-images.githubusercontent.com/1885333/41640124-fea0996e-7436-11e8-967e-385419ecca24.png)

See https://github.com/Unibeautify/vscode/pull/52

[2018-06-20 12:33] muuvmuuv opened #54 "Add auto fix on save or on type support"
I really love your stuff! Loved it before in atom and now in vscode, but I really need the auto-fix option from atom back. It was really comforting!

And it would be nice to specify the auto-fix option for each language individually.

[2018-06-20 13:09] muuvmuuv opened #55 "Add VSCode configuration setting for default Unibeautify configuration file"
I have several of my configurations in my Dropbox folder and want to link to them from UB. That would be very nice!

---

**Update**: Add support for `unibeautify.defaultConfig` (type: `string`) configuration option which points to a `.unibeautifyrc` config file? This would likely require a change to: https://github.com/Unibeautify/vscode/blob/master/src/EditProvider.ts#L105-L109
Also see https://

[2018-06-20 14:37] Glavin001 commented on #55
The best practice would be to include your configuration in the same VSCode project/workspace.
If your project is not within the same Dropbox folder, I would recommend setting up something like symlinks:
- Windows: https://www.howtogeek.com/howto/16226/complete-guide-to-symbolic-links-symlinks-on-windows-or-linux/
- Mac: https://www.howtogeek.com/297721/how-to-create-and-use-symbolic-links-aka-sym

[2018-06-20 14:40] Glavin001 commented on #54
Format on save is built-in to VSCode itself. See https://stackoverflow.com/a/39973431

[code]

And apparently they also support `editor.formtOnType` as well, although I have not tested this: https://github.com/Microsoft/vscode/issues/2044

[code]

[2018-06-20 15:13] Glavin001 commented on #54
We can reopen if you have more questions 😃 .

[2018-06-20 15:13] #54 closed

[2018-06-20 15:13] Glavin001 commented on #55
We can reopen if you have more questions 😃 .

[2018-06-20 17:08] muuvmuuv commented on #55
Hm I know what you mean by symlinking them, I already do it like this, but I really don‘t want to symlink all my confs in every project every time. It would be way smoother to specify the path to the conf in the  `.unibeautifyrc` like this:

[code]

and another idea would be to have one `.unibeautifyrc` in my dropbox folder and link to it via a VSCode setting (to rule them all 😄)

[2018-06-20 18:30] Glavin001 commented on #55
Unibeautify is optimized for the conventional workflow where project's configuration is contained in the same project directory.

Absolute paths are also usually a bad idea within projects because they are not portable.
For example, if you sent me your project, I do not have a file at path `/Users/marvinheilemann/Dropbox/Configs/.php_cs`.

This is also why `finishPath` at https://github.com/Unibea

[2018-06-20 23:50] #23 closed

[2018-06-20 23:50] #51 closed

[2018-06-21 13:36] odahcam commented on #23
This is great @Glavin001 !

[2018-06-21 21:37] muuvmuuv commented on #55
I got what you mean, I will work with symlinks now ^^ anyway it would be cool (I don't share the most of my projects)

For the other thing, I‘ll have a look. I don‘t have much time the next month, but It seems like a little update to the code.

[2018-06-21 21:57] Glavin001 commented on #55
Let me know if / before you start working on it. I might be able to implement this feature if I have some time this weekend, since it is small. Usually though, I have other higher priority tasks to work on so I would expect open-source contributors to make a Pull Request 😄.

[2018-06-21 23:01] muuvmuuv commented on #55
@Glavin001 started already 😁

[2018-06-21 23:30] Glavin001 commented on #55
Awesome! 🎉 Let me know if you have any questions.

[2018-06-22 11:14] muuvmuuv opened #58 "Discussion: Rename repo"
Would it not be better to rename this repo to something like `vscode-plugin-unibeautify` just for readability and to create equality?

I‘m a really packaging victim (do you say that?) and it looks very confusing for me to have vscode forked when it actually is Unibeautify vscode.

[2018-06-23 03:12] Glavin001 commented on #58
I see your point. You're suggesting the following change?

[code]

I am not a fan, as the `unibeautify` in the repo name would be redundant when in the context of the organization.

The organization is important. What I do personally, is have a folder for all `Unibeautify` repositories. This helps in the case you're discussing where you now know it is VSCode and *related to Unibeautify*. It also h

[2018-06-23 14:43] szeck87 commented on #58
You can rename a repo via Settings and it will still maintain the fork.

![screen shot 2018-06-23 at 9 41 20 am](https://user-images.githubusercontent.com/8315038/41810790-9e2fae54-76c9-11e8-81c7-ffe81f1b3c8d.png)

[2018-06-23 14:53] Glavin001 commented on #58
I think this is something we won't be doing since it is unnecessary and plenty of workarounds to improve personal organization of cloned repositories 😄 . Thanks for creating the issue though!

[2018-06-23 14:53] #58 closed

[2018-06-25 15:30] muuvmuuv commented on #58
Ohh thanks, did not know that is possible. Still learning 🙈

[2018-06-25 16:11] Glavin001 commented on #58
@muuvmuuv No problem! Let us know if you have any more questions 😃

[2018-07-31 15:24] slulego opened #94 "I can't get ColdFusion to work."
I installed the extension.
Created a `.unibeautifyrc.json` file inside the opened folder:

VSCode 1.25.1
Windows 7

The only thing is I think the formatting works other files like html and json unless those are just built into Code.

[2018-07-31 16:40] szeck87 commented on #94
Two issues here:

1. vscodeLanguages for ColdFusion is missing from [unibeautify](https://github.com/Unibeautify/unibeautify/blob/master/src/languages.json#L1322). We should add `cfml` to it.

2. When the VSCode extension retrieves the extension and sends it to the `unibeautify.beautify` method, it sends it without the period (example:  `cfml` vs `.cfml`), so it doesn't find it.  That's a bug.

[2018-08-01 14:40] #94 closed

[2018-08-05 08:19] levz0r opened #102 "JavaScript formatter stopped working"
Hi,
Since v0.6.0, the prettier formatter doesn't format javascript files anymore.
.unibeautifyrc.json:
[code]
package.json:
[code]
Any ideas?

[2018-08-05 16:16] szeck87 commented on #102
We fixed a bug where the extension wasn't being sent to the `beautify` method properly (#95).  Now that we are doing that, when sending files with a language name of "JavaScript" and extension `.js`, it uses JSX, probably because our languages metadata has `.js` as an extension for JavaScript files:  https://github.com/Unibeautify/unibeautify/blob/master/src/languages.json#L3594.

@Glavin001 we sh

[2018-08-10 02:05] #102 closed

[2018-08-10 03:36] szeck87 commented on #102
@levz0r this should be fixed with the 0.6.1 release.  Please let us know if you have issues after updating.

[2018-08-10 16:14] levz0r commented on #102
@szeck87 thank you for the prompt fix!
Unfortunately, I am unable to update the extension (I don't know if it is related to the updated version).
Here's the output when running: `code --install-extension Glavin001.unibeautify-vscode`
[code]

[2018-08-12 07:07] levz0r opened #111 "Can't install v0.6.1 on Windows"
Hi,
I am trying to install version 0.6.1 of the extension on Windows machine, but getting the following error:
[code]

[2018-08-13 17:37] szeck87 commented on #111
@Glavin001 do you recognize this error?

[2018-08-15 08:33] muuvmuuv opened #113 "Disabling a language not longer working"
I want to have SCSS formatting disabled because I have another plugin that handles this for me. I have this Unibeautify configuration: https://hastebin.com/ukimobozog.json

I tried to `"SCSS": false,` and
[code]
and I removed it from my config. Nothing worked. I would expect at least try one and three should work.

[2018-08-15 15:34] szeck87 commented on #113
Looks like `scss` is in the `vscodeLanguages` for sass.  You'll have to disable them both.  I'll create an issue in Unibeautify, I see a few problems in that file.

[2018-08-15 16:10] szeck87 commented on #55
Was this closed by https://github.com/Unibeautify/vscode/pull/57?

[2018-08-15 16:52] muuvmuuv commented on #55
@szeck87 yes

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-15 16:52] #55 closed

[2018-08-15 16:54] muuvmuuv commented on #113
Thanks @szeck87!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-29 14:30] #113 closed

[2018-08-29 14:32] muuvmuuv commented on #111
Can you give us more information about your system and VSCode version and also try to install the extension via the build in extension manager, I heart about cases where this fixed the problem.

[2018-08-29 22:35] steveparrynz opened #121 "Is there a way to have a global config file or does it need to be per project?"
If there is great, where do you need to store it.

If not, I think this would be a great feature. You could have a global config and then also have per project that would either get used instead of or in conjunction with where values just over rule what is in the global.

[2018-08-29 22:57] szeck87 commented on #121
There is a `Default Config` field in VSCode's Settings for Unibeautify.  If there is no configuration file found in your workspace, it will use that as a fallback.

![screen shot 2018-08-29 at 5 54 09 pm](https://user-images.githubusercontent.com/8315038/44820082-fce30700-abb4-11e8-9ef5-7d0b5b7f7e86.png)

[2018-08-29 23:11] steveparrynz commented on #121
Ah perfect, sorry didn't see that area. It might be worth updating the readme area to mention that this is available. As it stands it seems like you need to have it per project.

[2018-08-29 23:11] #121 closed

[2018-08-29 23:51] Glavin001 commented on #121
Good idea, @steveparrynz . Pull Requests are very welcome for edits to https://github.com/Unibeautify/vscode#question-faq to include a note about this feature! Thanks in advance!

[2018-08-29 23:52] Glavin001 commented on #121
Related to https://github.com/Unibeautify/vscode/issues/55 and https://github.com/Unibeautify/vscode/pull/57

[2018-08-30 06:06] muuvmuuv commented on #121
I'll add this under the [config](https://github.com/Unibeautify/vscode#wrench-configure) section while I'm working on the new FAQ entry. @Glavin001 @szeck87

[2018-08-30 06:20] #111 closed, assigned to levz0r, stevenzeck

[2018-09-29 03:38] Glavin001 opened #136 "Add CSScomb beautifier"
_From @muuvmuuv on September 28, 2018 15:46_

Noticed that it is not yet added to the beautifiers:

[code]
_Copied from original issue: Unibeautify/beautifier-csscomb#11_

[2018-09-29 03:38] Glavin001 commented on #136
This issue belongs in https://github.com/Unibeautify/vscode

It is fairly trivial: https://github.com/Unibeautify/vscode/commit/c827224e35376feb6bc9181e678e2afe1aebfb7c

Would you like to make the Pull Request? 😃  Let me know if you have any questions!

[2018-10-17 07:51] Glavin001 commented on #102
@mmn6d6d6e It sounds like you need to add `JSX` in your enabled languages as well as your existing `JavaScript` language. Something like:

[code]

See https://unibeautify.com/docs/language-jsx.html for more information on JSX language support.

[2018-10-17 08:19] mmn6d6d6e commented on #102
@Glavin001

It's been a while since I working on JavaScript/ReactJS related project. Last time, if I remember correctly, `.jsx` was not handled correctly yet by Unibeautify, so I made some workaround by adding this on setting:
[code]
Which makes Unibeautify treat `.jsx` files as regular `.js` files.

So, by removing that setting and adding `JSX` as enabled language, now Unibeautify is working corr

[2018-10-17 09:11] Glavin001 commented on #102
🎉 Awesome to hear, @mmn6d6d6e !

[2018-10-24 10:00] muuvmuuv commented on #136
@Glavin001  TSLint seems to be missing too

[code]

[2018-10-24 19:31] stevenzeck commented on #136
TSLint won't be added until the beautifier is more complete.

[2018-10-26 01:35] stevenzeck opened #151 "Prettier formats lists wrong"
_From @muuvmuuv on October 24, 2018 7:17_

I am using the VS Code extension and every time I format a file it converts the `-` to `*` which is wrong regarding this issue https://github.com/prettier/prettier/issues/4251. I don't know why it does this, I thought the beautifiers are using the same version as the CLI does, because when I use the prettier CLI with `prettier file.md --write` everything

[2018-10-26 01:35] stevenzeck commented on #151
_From @muuvmuuv on October 24, 2018 7:19_

ah, I forgot to mention that the Unibeautify CI does it the correct way, see: https://github.com/muuvmuuv/vscode-sundial/compare/unibeautify/master/push?expand=1#diff-4ac32a78649ca5bdd8e0ba38b7006a1e

[2018-10-26 01:35] stevenzeck commented on #151
Were any changes made by Prettier after 1.12.1?  That might be why since VSCode is still on that version.

[2018-10-26 01:35] stevenzeck commented on #151
_From @muuvmuuv on October 25, 2018 6:42_

@stevenzeck yes, see https://prettier.io/blog/2018/05/27/1.13.0.html#change-unordered-list-symbol-to-a-hyphen-4440-by-ikatyang

[2018-10-26 01:36] stevenzeck commented on #151
Just need to update prettier for the VSCode extension.

[2018-11-17 09:52] muuvmuuv commented on #136
@Glavin001 I think you need to make a `vsce publish` now to upload the changes to the plugin.

[2018-12-03 21:54] Glavin001 commented on #136
@muuvmuuv could you elaborate why I need to publish?

Unfortunately, I've been busy and haven't taken a look at Unibeautify VSCode recently so I may be out of the loop with what you and @stevenzeck and working on here 😄 . Thanks!

[2018-12-03 22:06] Glavin001 commented on #136
Published to v0.7.0

[2018-12-03 22:06] #136 closed

[2019-01-12 16:05] JourneyOver opened #155 "We could not find your default config file"
No matter where I place my config file (other than in the project folder ofc) I always seem to run into

[code]
when trying to use the default config location option..

I've tried placing it in various different folders and even different drives, and no matter what it always seems to come back to throwing that error.

[code]

like this is one example of the path I'm using
[code]
it comes out like

[2019-02-13 16:02] chipco opened #160 "prefer beautifier config not working"
I can't seem to get PHP-CS-Fixer or CSScomb to work with unibeautify in vscode windows 10. When I try to format a php or css file nothing happens.

My config file is:
[code]

I did try with the formatters available in PATH. Also tried to provide the absolute path in the `path` property.

[2019-02-13 18:11] stevenzeck commented on #160
Hi @chipco. Can you update the code you posted with the path properties?

Are there messages in the output in terminal view? Or any errors in developer console (Help > Toggle Developer Tools)

[2019-02-13 18:38] chipco commented on #160
There's no message in the output.

I managed to get php-cs-fixer working, it looks like I need to add .bat extension. However It's not picking up my config file `.php-cs`.

[code]

CSScomb still doesn't do anything.
[code]

[2019-02-13 18:49] stevenzeck commented on #160
Ok, I'll come back to CSScomb. Where is your php_cs file located in relation to your project and the unibeautify json config file?

[2019-02-13 18:56] chipco commented on #160
The folder structure is something like:

[code]

In my current vscode workspace I have opened the folder D:\web\project1

[2019-02-13 19:05] stevenzeck commented on #160
I need to test it with a structure like this when I get home. It will start looking for the php_cs in the same directory of the file you are trying to beautify, and will keep going up a directory looking for it until it reaches the project root. The root in this case might be project1, do it doesn't look under /web.

[2019-02-13 19:19] chipco commented on #160
Placing the file `.php_cs` in project1 folder worked.

Is there any config option for a global file outside the project folder?

[2019-02-13 19:35] stevenzeck commented on #160
I can't remember if we did that or not, @Glavin001 so you know?

[2019-02-13 22:01] Glavin001 commented on #160
I think this is the same question as: https://github.com/Unibeautify/vscode/issues/121#issuecomment-417133868

Answer: https://github.com/Unibeautify/vscode#pushpin-default-configuration

Let me know if that doesn't work for you 😃

[2019-02-13 22:07] stevenzeck commented on #160
That is for the unibeautify config file. What about the beautifier config file such as `.php_cs`? Can that be put in the unibeautify config file?

[2019-02-13 22:16] Glavin001 commented on #160
Oh, the path for `.php_cs` when `prefer_beautifier_config` is enabled. 🤔

I think the current answer would be **No**: https://github.com/Unibeautify/beautifier-php-cs-fixer/blob/master/src/index.ts#L77-L83

The beautifier looks for the `.php_cs` file only up to the VSCode project root.

[2019-02-13 22:22] stevenzeck commented on #160
That's how beautifier-php-cs-fixer attempts to find the file. I didn't know if unibeautify core did anything in the background and sent to the beautify method for the beautifier.

[2019-02-13 23:21] Glavin001 commented on #160
@stevenzeck Nope, doesn't look like it: https://github.com/Unibeautify/unibeautify/blob/master/src/beautifier.ts#L397-L411

[2019-02-14 02:33] stevenzeck commented on #160
@chipco unfortunately for now you'll need to put your `.php.cs` file in the same directory as your workspace or lower.

Sorry I missed your comment earlier that CSSComb is working now.  But you shouldn't have to put the path to it unless you prefer to run your own installation, it is included in the Unibeautify VSCode plugin.

What was the other VSCode extension that was causing a conflict?

[2019-02-14 04:05] chipco commented on #160
https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-csscomb

[2019-02-14 16:51] chipco commented on #32
I could use such a feature to configure HTML+PHP to be formatted with the HTML rules. In my case it's a *.phtml file.

[code]

[2019-02-26 13:02] chipco commented on #160
Should I close this? The original post was about a config issue on my side.

[2019-02-27 02:05] stevenzeck commented on #160
I'll close it. Feel free to follow https://github.com/Unibeautify/unibeautify/issues/221 for being able to specify the path to your config.

[2019-02-27 02:05] #160 closed

[2019-03-03 01:41] scsshomugenxv commented on #160
Since php-cs-fixer and phpcbf can have default rules set, would it be possible for unibeautify to run them without specifying a config file?

[2019-03-03 02:21] scsshomugenxv opened #169 "Not formatting php"
I can't seem to get Unibeautify to format php using php-cs-fixer or phpcbf. with or without a config file the console gives me the error:   The "--using-cache" option does not exist.

[2019-03-03 03:56] stevenzeck commented on #160
@scsshomugenxv you don't have to have any config file for it to run, it will just use whatever defaults is built into it.

[2019-03-03 04:35] stevenzeck commented on #169
@scsshomugenxv can you share your Unibeautify configuration file?

[2019-03-03 07:34] scsshomugenxv commented on #169
{
  "PHP": {
    "beautifiers": ["PHP-CS-Fixer"],
    "PHP-CS-Fixer": {
      "prefer_beautifier_config": true,
      "PHP-CS-Fixer": {
        "path": "C:\\Users\\chris\\AppData\\Roaming\\Composer\\vendor\\bin\\php-cs-fixer.bat"
      }
    }
  }
}

[2019-03-03 07:35] scsshomugenxv commented on #169
{
  "PHP": {
    "beautifiers": ["PHP-CS-Fixer"],
    "PHP-CS-Fixer": {
      "prefer_beautifier_config": true,
      "PHP-CS-Fixer": {
        "path": "C:\\Users\\chris\\AppData\\Roaming\\Composer\\vendor\\bin\\php-cs-fixer.bat"
      }
    }
  }
}

[2019-03-03 07:36] scsshomugenxv commented on #169
`{
  "PHP": {
    "beautifiers": ["PHP-CS-Fixer"],
    "PHP-CS-Fixer": {
      "prefer_beautifier_config": true,
      "PHP-CS-Fixer": {
        "path": "C:\\Users\\chris\\AppData\\Roaming\\Composer\\vendor\\bin\\php-cs-fixer.bat"
      }
    }
  }
}`

[2019-03-03 07:39] scsshomugenxv commented on #169
This is the enire message I get in the console:

The "--using-cache" option does not exist.

fix [--config CONFIG] [--config-file [CONFIG-FILE]] [--dry-run] [--level LEVEL] [--fixers FIXERS] [--diff] [--format FORMAT] [--] [<path>]

[2019-03-03 08:36] scsshomugenxv commented on #169
Okay, I have it working now, looks like I somehow ended up installing an older verion of php-cs-fixer. Thanks for looking into this.

[2019-03-03 08:36] #169 closed

[2019-03-04 02:40] Glavin001 commented on #169
I would like the Unibeautify PHP-CS-Fixer beautifier to automatically detect older versions of `php-cs-fixer` executable and use the appropriate CLI arguments.

Applicable code: https://github.com/Unibeautify/beautifier-php-cs-fixer/blob/master/src/index.ts#L109

Please feel free to create an issue over at https://github.com/Unibeautify/beautifier-php-cs-fixer/issues with details about the PHP-CS-

[2019-03-18 13:15] demartini opened #174 "Add Stylelint beautifier support to Unibeautify for VSCode"
Hello guys,

I would like to know how do I configure stylelint in Unibeautify?

I could not find any explanation in the documentation.

Thanks.

[2019-03-31 15:06] Glavin001 commented on #174
Stylelint is not yet supported in Unibeautify VSCode: https://github.com/Unibeautify/vscode/blob/master/src/beautifiers.ts

Pull Requests -- similar to https://github.com/Unibeautify/vscode/pull/137 -- are welcome to add support.

Beautifier Stylelint: https://github.com/Unibeautify/beautifier-stylelint/

@stevenzeck @muuvmuuv may be able to answer questions as well.

[2019-03-31 15:08] Glavin001 commented on #174
@stevenzeck @muuvmuuv what's the status of https://github.com/Unibeautify/beautifier-stylelint/ ? Is it in working order and could be added to VSCode and the website?

[2019-04-01 14:34] stevenzeck commented on #174
I haven't touched it for a while. I can update everything and publish it for use in editors and the website

[2019-04-02 12:56] Glavin001 commented on #174
Thank you, @stevenzeck !

[2019-04-05 16:45] stevenzeck opened #182 "Document VSCode default formatter"
https://code.visualstudio.com/updates/v1_33#_default-formatter-selection

[2019-05-03 03:19] khuongduybui opened #195 "Can we use prettier plugins (such as https://github.com/prettier/plugin-ruby)"
I guess I'm asking for two things here:

1. Supporting prettier plugins
2. Supporting Ruby language via prettier plugin for Ruby

I will gladly accept a stop gap provider for Ruby with a different beautifier over no providers at all.'
However, I think the ability to use all prettier plugins will come in handy.

[2019-05-06 11:56] Somberland opened #197 "django template comments crash unibeautify"
using django-template comments in html-files for example:
`{% comment %} <button type='button' class='btn btn-secondary'>Secondary</button> {% endcomment %}`
will break unibeautify.

[code]

[code]

[code]

[2019-05-08 00:18] stevenzeck commented on #197
Hi @Somberland.  This looks to be an issue with prettydiff, I'll need to investigate further.  Also, you're `.unibeautifyrc.yml` file is incorrect, you want:

[code]

[2019-05-08 06:33] Somberland commented on #197
thanks for the reply :) looking forward for an solution.

created the config-file via https://assistant.unibeautify.com/#/setup , strange

[2019-05-08 08:59] nanagitplus opened #199 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `unibeautify-vscode`
- Extension Version: `0.7.0`
- OS Version: `Linux x64 4.15.0-48-generic`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/nana/Glavin001.unibeautify-vscode-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extens

[2019-05-26 14:42] stevenzeck opened #205 "Investigate Travis failures with Linux"
Linux builds randomly fail for this extension, need to investigate why.

[2019-05-30 01:25] ognik777 opened #206 "How do I paste the helper config code?"
Sorry for my ignorance, I only recently started using vs code.
I ran the config helper and clicked 'copy' - but what do I do with it please?  I'm guessing it should be pasted into a file - but which/where is it?
Thanks

[2019-12-21 06:47] chipco opened #245 "VS Code Marketplace update"
The extension in the [marketplace](https://marketplace.visualstudio.com/items?itemName=Glavin001.unibeautify-vscode) was last updated on 12/4/2018, 12:04:20 AM, but there are regular (probably automatic) updates in the git repo. What is the status of the unibeautify project, is it being developed and supported?

[2020-02-12 14:06] levz0r opened #252 "CSS Formatter doesn't work"
**Describe the bug**
CSS Formatter doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1.`.unibeautifyrc.json`, add the following configuration:
[code]
Add the following dev dependencies to `package.json`:
[code]
Create an unformatted css file:
[code]
Save/format the css.

**Expected behavior**
The css is formatted succesfully.

**Actual behavior**
See logs below.

**Error/Stack Trace

[2020-03-29 21:25] hjc opened #258 "C# Formatter Adding Spaces After Float Declarations"
Hi, just installed the Unibeautify extension and while it does what I really want (wrap long lines), it's causing a bigger problem with floats. Here's an example snippet:

[code]

Upon save it reformats this to:

[code]

I've disabled and re-enabled the Unibeautify extension and confirmed it was caused by this. My current config is:

[code]

VS Code version is 1.11.2. OS is Windows.

Which was gen

[2020-04-25 16:44] Glavin001 commented on #206
I recommend reading:
- https://github.com/Unibeautify/vscode#pencil-example-configuration-file
- https://unibeautify.com/docs/config-file.html

Let me know if you still have questions and we can reopen. 😃

[2020-04-25 16:44] #206 closed

[2020-04-25 16:46] Glavin001 commented on #206
If you're familiar with React it would be great if you could contribute to https://github.com/Unibeautify/assistant/blob/master/src/pages/setup/export-config.tsx and improve the configuration helper tool. I agree, this is not entirely clear:

![image](https://user-images.githubusercontent.com/1885333/80285413-1e362680-86fb-11ea-8be1-e56346bf24fc.png)

Thanks!

[2020-04-25 18:26] Glavin001 commented on #174
✅ Added to website: https://github.com/Unibeautify/website/pull/261
See https://unibeautify.com/docs/beautifier-stylelint

Working on adding to VSCode extension now.

[2020-04-25 21:13] Glavin001 commented on #197
I'm able to reproduce with [Unibeautify Playground](https://playground.unibeautify.com/#N4IgNghgdg5grhGBTAchAtkkAuEAJAFQFkAZEAGhAHsAHAFwEsqoBnHUAYQGJ2QAjJBDiMAZgyQAnNtgDaIAAoSkdOgE8ABABEGIkSAC6AX0ocAyqd4Cho8VJxzFyxpIoKlKjdt2uAUqYC0AEKCwjqqBsYgHFRgACYAYnAsTFCWITaS0g7ualo6ekaUAKJ+adY6tlluTp75vgHB5SLhhSAA4hIQNAAWAIpk2KBWoWKZ9tUqthGUhKRlI5Xjjh553vqUDFCxSFB0APoAxlTomLvSdBJwSJQ7sXsA7gx03YfH6BA4IhBgLNcgm

[2020-04-25 22:09] Glavin001 commented on #206
Improving assistant instructions in https://github.com/Unibeautify/assistant/pull/185

[2020-04-25 22:11] #174 closed

[2020-04-25 22:11] #245 closed

[2020-04-25 22:11] Glavin001 commented on #174
✅ Added Stylelint: https://github.com/Unibeautify/vscode/pull/260

[2020-04-25 22:35] Glavin001 commented on #245
v0.8.0 published!

[2020-04-27 11:55] sagarpanchal opened #262 "Cannot Format (Unibeautify 0.8.0 on vscode 1.44.2)"
### Issue
[code]

### VSCode details

- Version: 1.44.2 (system setup)
- Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
- Date: 2020-04-16T16:36:23.138Z
- Electron: 7.1.11
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Windows_NT x64 10.0.18363

[2020-04-27 11:56] sagarpanchal commented on #262
### `.unibeautifyrc.yml`

[code]

[2020-04-28 03:07] stevenzeck commented on #262
Looks like it's not activating properly when VSCode starts.

[code]

[2020-04-28 03:39] stevenzeck commented on #262
0.8.0 included several beautifiers being added, and one of them was `@unibeautify/tslint`.  That package definitely requires `tslint` to be included, and looks like it requires `typescript` as well.  @Glavin001 we should find a way to test this as a normal installation, as locals include devDependencies.

[2020-04-28 03:47] stevenzeck commented on #262
@sagarpanchal there are two workarounds until this is fixed:

1. Install both tslint and typescript globally:  `npm install -g tslint typescript`.  You may have to uninstall/reinstall the Unibeautify VSCode extension after doing this, or at the very least close it and reopen

2. Go to the `.vscode/extensions/glavin001.unibeautify-vscode-0.8.0` directory and run `npm install`.  This will install ts

[2020-05-03 08:46] levz0r commented on #262
Hi,

We're experiencing the same issue with latest version of unibeautify (0.8.0). tslint and typescript are installed globally.

When formatting, vscode yelling that the formatter is not available.

[2020-05-03 23:26] Glavin001 commented on #262
Please install v0.8.2 it should be fixed now. Apologies for the delay!

Please comment here it is fixed and working for you so I know 💯 %. I have tested installing v0.8.2 myself 🤞 . Thank you!

[2020-05-10 20:27] sagarpanchal commented on #262
v0.8.2 works as expected 👍

[2020-05-10 22:16] #262 closed

[2020-05-24 20:33] Jonnokc opened #267 "Add Functionality To Allow Formatting SQL files within Unsaved Tab"
Looking for the functionality to be able to format a SQL from within an unsaved tab. I believe this functionality exists with Beautify within Atom. Curious if it's possible to add on the VS code side.

This would be beneficial for quickly formatting a file without first having to save.

[2020-05-27 11:56] levz0r opened #268 "Prettier has suddenly started adding parentheses to mathematical expressions"
Hello,

Using extension v0.8.2.

After upgrading from 0.7.0, Prettier formatter has started adding parentheses to math expressions.

.unibeautifyrc.json:

[code]

Before upgrading:
[code]
After:
[code]

package.json:
[code]

Thank you.

[2020-10-13 03:38] krupalip-dtwd opened #277 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `unibeautify-vscode`
- Extension Version: `0.8.2`
- OS Version: `Windows_NT x64 10.0.14393`
- VSCode version: `1.50.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-04-23 04:19] yaegassy commented on #197
@Glavin001 @Somberland

Hi, I see that this issue is still unresolved, have you created an issue on prettydiff?

[2021-09-30 05:21] radio700 opened #308 "unibeautify crushed in django-html template :("
everything is ok but

but whenever i try formetting  it's crushed
`{% if page_number >= question_list.number | add : -5 and page_number <= question_list.number | add : 5 %}`

it should be
`{% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}`

the space between number|add:-5 is not permitted is there any way to solve it?

[2021-10-20 07:01] renovate opened #312 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/Unibeautify/vscode).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Deprecat

[2022-05-22 10:23] ooliver1 commented on #199
I got the same err today